body {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.container-header {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-home {
    background-color: aqua;
}

nav ul, nav li {
    list-style: none!important;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color:peru;
    font-weight: 700;
    border: 2px solid transparent;
}

nav a:hover {
    color: turquoise;
}